/node_modules
/public/hot
/public/storage
/public/jsc/*
/public/uploads/modules/*
/public/uploads/images/*
/public/uploads/widyaiswaras/*
/public/images/slider/*
/public/uploads/videos/*
/public/js/app.bundle.js
/public/js/landing.bundle.js
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store